[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "spring-petclinic"]
	path = spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic.git
